 
 {% extends 'base.html' %}  
 {% block body_block%}
    
      <div style="margin-left: 40%;margin-right:40%" >
       <h1>User Registration</h1>
       <form action="{% url 'restapi:register' %}" method="post" id="form">
              {% csrf_token %}
              
            
              <input type="username" class="form-control " name="username" id="" placeholder="Username"><br><br> 
              <input type="password" class="form-control" name="password" id="" placeholder="Password"><br><br> 
              
              <button type="submit"  class="btn btn-danger">Sing Up</button>
          
      </form>       
    
    
        

            
      </div>
{% endblock %}